*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Plus Jakarta Sans;
    
width: 50vh;
height: 100vh;
border-radius: 70px;
background: #000;
color: #F3F3F3;

}
img {
    width: 40rem;
    position: relative;
    margin-left: 600px;
}
.back_ground-404{
    position: absolute;
    top:  0px;
}
.nav_tasbar-404{
    display:  flex;
    justify-content: space-between;
}
.nav_tasbar_404-Logo{
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: linear-gradient(94deg, #1DFFAE 8.13%, #581DFF 120.87%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: 20px;
}
.nav_tasbar_404-menu{
display:  flex ;
width: 110px;
height: 30px;
text-wrap:nowrap;
align-items: center ;
margin:10px  100px;

}
li,a {
color: #E9E9E9;
font-family: Plus Jakarta Sans;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
list-style: none;
}

.box {
    padding: 0px 35px; 
}
.box:hover {
    background-color: #93C5FD;
}
a:hover {
 color: black;
}
.header_404page{
margin-left: 20px;
}
.text_logo-404-page{
color: #F3F3F3;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 200px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-right: 20rem;
}
.content_404-page{
color: #FFF;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 57px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin:0  20rem 2rem 0;
}
.content2_404-page{
color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-wrap: wrap;
width: 600px;
margin-bottom: 100px;
}
.content3_404-page{
display: flex;

}
.text_{
color: #581DFF;
font-family: Plus Jakarta Sans;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.icon_{
    transform:translateX(10px);
    transform: translateY(6px);
}