* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: burlywood;
}
main {
  
    width: 200vh;
    height: 100vh;
    
}
.contanner_form_login {
    width: 1000px;
    height: 600px;

    margin: 20px auto;
    display: flex;
}
.form_1
{
    width: 400px;
    height: 600px;
    background-color: white;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
h2  {
    
    color: #3751FE;
    
        font-family: Roboto;
        font-size: 19px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}
h1 {
    margin: 50px 0px 10px 0px ;
    color: #3751FE;
    font-family: Open Sans;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
    }
    




.heading_form { 
    margin-bottom: 20px;
}

input {
    width: 100%;
    height: 60px;
    outline: none;
   margin-bottom: 10px ;
} 
input:focus {
    border: 3px solid #3751FE;
    transition: 0.1s;
} 

input[type="input_text"] {
    position: relative;
    
}
input[type="email"] {
    padding-left: 20px;
    padding-top: 8px;
    color: #3751FE;
}
input[type="password"] {
    padding-left: 20px;
        padding-top: 8px;
        color: #3751FE;
    font-size: 15px;
}
label[type="text"] {
    
    position: absolute;
    margin-top: 8px;
    margin-left:20px;
    font-size: 13px;
}
input[type="checkbox"] {
    width: 13px;
}

.about_contact_form {
display: flex;
justify-content: space-between;
}
#about {
    transform: translate(16px,-49px);
}
.contact_1_ {
    transform: translate(0,19px);
    
}
a  {
    text-decoration: none;
    color: rgb(89, 101, 114);
}
#Login {
    width: 100px;
    height: 45px;
    background-color: #3751FE;
    color: white;
    border: none;
    box-shadow: 1px 1px 5px 2px lightslategray;
}
#Sign_Up {
    width: 100px;
    height: 45px;
    margin-left:20px;
    color: #3751FE;
    background-color: #ffffff;
    border: 2px solid #3751FE;
}
.footer_about_login {
    display: flex;
    justify-content: space-between;
    margin-top: 50px    ;
}

.color > a  {
    font-family: sans-serif;
    color: #3751FE;
    font-weight: 600;
}

.form_2 {
    width: 600px ;
    height: 600px;
    background-color: #f4f4f4;
    z-index: 1;
}
.nav_form_2_login {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.item_login:hover {
    border-bottom: 3px solid #3751FE;
    outline: none;
    transition: 0.09s;
}
img {
    width: 600px;
    margin-top: 70px;
 
}