* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}

.contaner_body {
    width: 100 vh;
    height: 100vh;
    background: linear-gradient(to top right, red, transparent),
        linear-gradient(to bottom left, #5b33ac, transparent);
    padding-top: 50px;
}

.contaner {
    width: 100vh;
    height: 500px;

    background: linear-gradient(to right, red, transparent),
        linear-gradient(to left, #6a5af9, transparent);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form {
    background-color: black;
    color: white;
    width: 400px;
    height: 400px;
    text-align: center;
    position: absolute;
    margin-top: 10px;
}

.logo_text {
    position: absolute;
    right: -120px;
    bottom: -40px;
}

.form-login>h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
}

.form-login>p {
    color: #6f6f7e;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 10px 80px;
}

.form-input input {
    background-color: black;
    border-radius: 100px;
    height: 35px;
    border: 1px solid #6287a1;
    margin: 5px;
    text-align: center;
    color: white;
}

.login button {
    border: 2px solid green;
    width: 110px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 100px;
}

p a {
    color: #6f6f7e;
}